<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrzj.yule.calc.mapper.mssql.DbMapper">

    <select id="findDb" resultType="java.lang.String">
        SELECT name
        FROM master.dbo.sysdatabases
        WHERE name LIKE 'SYGL_Data%'
        order by name desc;
    </select>

</mapper>
